@model IQueryable<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Order Number</th>
                            <th>Total Price</th>
                            <th>Ship Status</th>
                            <th>Order Date</th>
                            <th>Shipped Date</th>
                            <th>Delivered Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.OrderNumber</td>
                                <td>@item.TotalPrice $</td>
                                <td>@item.ShipperStatus</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.ShippedDate</td>
                                <td>@item.DeliveredDate</td>
                            </tr>
                        }
                        <tr>
                            
                            <td colspan="7" class="text-bold"><h5>Total Income: @TempData["TotalIncome"] $</h5></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

