@model List<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalPrice = 0;

}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                totalPrice += item.SubTotal;
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitPrice</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Total Price: @totalPrice $</h5>
                        <div class="form-group mt-2">
                            <div class="col-form-label-lg">
                                <label>Choose Payment Method</label>
                            </div>
                            <a asp-action="CompleteCart" asp-controller="Order" asp-route-payment="@ViewBag.OrderPayment1" class="btn btn-primary mt-3">@ViewBag.OrderPayment1</a>
                            <a asp-action="CompleteCart" asp-controller="Order" asp-route-payment="@ViewBag.OrderPayment2" class="btn btn-primary mt-3">@ViewBag.OrderPayment2</a>
                            <a asp-action="CompleteCart" asp-controller="Order" asp-route-payment="@ViewBag.OrderPayment3" class="btn btn-primary mt-3">@ViewBag.OrderPayment3</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>