@model IQueryable<Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">

                <h1 class="text-bold">@TempData["Products"]</h1>

                <p>Total Number of Products</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="Index" asp-controller="Product" asp-area="Admin" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h1 class="text-bold">@TempData["Orders"]</h1>

                <p>Total Number of Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-action="Index" asp-controller="Order" asp-area="Admin" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h1 class="text-bold">@TempData["Users"]</h1>

                <p>Total Number of Users</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a asp-action="Index" asp-controller="User" asp-area="Admin" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">

                <h1 class="text-bold">@TempData["TotalIncome"] $</h1>

                <p>Total Income</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a asp-action="Index" asp-controller="Order" asp-area="Admin" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Latest Orders</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Is Shipped</th>
                            <th>Shipping Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.OrderNumber</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.TotalPrice $</td>
                                <td>
                                    @switch (item.ShipperStatus)
                                    {
                                        case Project.Entity.Enum.ShipStatus.NotShipped:
                                            <span class="bg-success">Not Shipped</span>
                                            break;
                                        case Project.Entity.Enum.ShipStatus.Shipped:
                                            <span class="bg-success">Shipped</span>
                                            break;
                                        case Project.Entity.Enum.ShipStatus.Delivered:
                                            <span class="bg-success">Delivered</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    @if (item.ShipperStatus != Project.Entity.Enum.ShipStatus.NotShipped)
                                    {
                                        <a asp-action="Detail" asp-controller="Shipper" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-xs btn-warning">Shipping Detail</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-controller="Shipper" asp-area="Admin" asp-route-orderId="@item.Id" class="btn btn-xs btn-warning">Create Shipping</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

