@model IQueryable<OrderDetail>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var productList = ViewBag.ProductList as List<Product>;
}

<div class="row">
    <div class="col-12">
        <div class="card">
@*            <div class="card-header">
                <h3 class="card-title">Category List</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-success">New Category</a>
                    </div>
                </div>
            </div>*@

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.ProductId</td>
                                <td>@productList.Where(x=> x.Id==item.ProductId).FirstOrDefault().ProductName</td>
                                <td>@item.UnitPrice $</td>
                                <td>@item.Quantity</td>
                                <td>@item.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

