@model Shipper
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Order order = ViewBag.Order;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Shipper Detail</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Ship Status</th>
                            <th>Shipped Date</th>
                            <th>Delivered Date</th>
                            <th>Company Name</th>
                            <th>Address</th>
                            <th>Is Delivered?</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr>
                            <td>@order.OrderNumber</td>
                            <td>@order.ShipperStatus</td>
                            <td>@order.ShippedDate</td>
                            @if (order.DeliveredDate == null)
                            {
                                <td>Not Delivered</td>
                            }
                            else
                            {
                                <td>@order.DeliveredDate</td>
                            }



                            <td>@Model.CompanyName</td>
                            <td>@Model.Address</td>
                            @if (order.DeliveredDate == null)
                            {
                                <td>
                                    <a asp-action="Delivered" asp-controller="Shipper" asp-area="Admin" asp-route-id="@order.Id" class="btn btn-xs btn-warning">Is Delivered</a>
                                </td>
                            }
                            else
                            {
                                <td>Delivered</td>
                            }

                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

