@model List<CartItem>
@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalPrice=0;
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Edit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                totalPrice += item.SubTotal;
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitPrice</td>
                                    <td>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" value="@item.Quantity" />
                                        </div>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteCartItem" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger btn-sm">delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <label>Have coupon?</label>
                            <div class="input-group">
                                <input type="text" name="couponCode" value="" placeholder="Coupon code" class="mt-2" />
                                <span class="input-group-append">
                                    <input type="Submit" value="Apply" class="btn btn-primary mt-2" />
                                </span>
                            </div>
                        </div>
                    </form>                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Total Price: @totalPrice $</h5>
                        <a asp-action="Index" asp-controller="Order" class="btn btn-primary">Complete Cart</a>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

