@model Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Product Create</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input asp-for="ProductName" type="text" class="form-control" placeholder="Enter Product Name" value="@Model.ProductName">
                    </div>
                    <div class="form-group">
                        <label>Product Unit Price</label>
                        <input asp-for="UnitPrice" type="number" class="form-control" placeholder="Enter Unit Price" value="@Model.UnitPrice">
                    </div>
                    <div class="form-group">
                        <label>Product Units In Stock</label>
                        <input asp-for="UnitsInStock" type="number" class="form-control" placeholder="Enter Unit In Stock" value="@Model.UnitsInStock">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="form-control custom-select"
                                value="@Model.CategoryId">
                            <option selected="" disabled>Please Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

