@model IQueryable<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Email Confirmed</th>
                            <th>Authorization</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@item.EmailConfirmed</td>
                                <td>
                                    <a asp-action="AssignAdminRole" asp-controller="User" class="btn btn-sm btn-info" asp-route-id="@item.Id">Admin</a>
                                    <a asp-action="AssignAccountantRole" asp-controller="User" class="btn btn-sm btn-info" asp-route-id="@item.Id">Accountant</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

